@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
	margin: 0 auto;
	background: 
}

header {
	width:100%;
	background:#34495e;
	height:350px;
	color:#fff;
	font-family: 'Montserrat', sans-sarif!important;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20%;
}

button {
	border-radius:50%;
	height:30px;
	width:30px;
}

button#start-btn {
	-webkit-box-shadow:2px 2px;
	-moz-box-shadow:2px 2px;
 	box-shadow: 2px 2px;
 	margin-left:5px;
 	border-radius:50%;
 	margin-bottom: 5px;
}

button#strict-btn {
	-webkit-box-shadow:2px 2px;
	-moz-box-shadow:2px 2px;
	box-shadow: 2px 2px;
 	margin-left:5px;
 	border-radius:50%;
 	margin-bottom: 5px;
}


div#instructions {
	background-color:#ecf0f1;
	padding:2% 4%;
	border-radius:20px;
	color:#34495e;
	margin-top:30px!important;
}

div#instructions h3 {
	font-weight:bold;
	font-family: 'Montserrat', sans-sarif!important;
}

div#control-wheel {
	background: #fff!important;
	margin: 0 auto!important;
	width:300px;
	height:300px;
	z-index:100;
	position:absolute;
	top:110px;
	left:110px;
	border:20px solid black!important;
	border-radius:50%;
	display:flex;
}

div#count-display {
	background: black;
	height:30px;
	width:45px;
	color:red;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:1.6em;
	border-radius:20px;
	margin-bottom: 5px;
}

div#count-section {
	display:flex;
	flex-direction:column;
	justify-content: center;
}

div.container{
	margin:50px auto;
	padding:0;
	width:100%;
	display:flex!important;
	align-items: center;
	justify-content: center;
}

div.count-controls {
	width: 100%;
	height:100%;
	background: #fff;
	border-radius:50%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	color:black;
	padding: 40px auto;
	font-family: 'Roboto', sans-sarif!important;
	font-weight:bold;

}

#game-wheel {
	width:560px;
	height:560px;
	background: #fff;
	border: 20px solid black;
	position:relative;
	border-radius:50%;
}

#on-off-section {
	margin-top:30px;

}

button#on-off-btn {
	width:100px;
	height:50px;
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight:bold;
	
}

#section1 {
	background: #27ae60!important;
	width:50%;
	height:260px;
	display:block;
	float:left;
	border-top-left-radius: 100%;
}

#section2 {
	background: #c0392b!important;
	width:50%;
	height:260px;
	display:block;
	float:right;
	border-top-right-radius: 100%;
}

#section3 {
	background: #f1c40f!important;
	width:50%;
	height:260px;
	display:block;
	float:left;
	border-bottom-left-radius: 100%;
}

#section4 {
	background: #2980b9!important;
	width:50%;
	height:260px;
	display:block;
	float:right;
	border-bottom-right-radius: 100%;
}

.btn-off-game {
	font-weight:bold;
	font-size:2em;
	color: #fff!important;
	background:#bdc3c7!important;
	border:none!important; 
}

.btn-start-on {
	background: #27ae60!important;
}

.btn-strict-on {
	background: #f1c40f!important;
}


.padding {
	margin: 50px 0;
}

/* Navigation Styling */

.navbar {
	/*background: #34495e!important;*/
	padding:20px;
	margin-bottom:0px!important;
}


.navbar-inverse .navbar-nav>li>a {
	color:#ecf0f1!important;
	font-size:1.5em;
}

.navbar .navbar-brand:hover {
	color:#2980b9!important;
}

.navbar .navbar-brand {
	color: #ecf0f1!important;
	font-size:2.5em;
}

footer {
	background:#333;
	color:white;
	height:70px;
	width:100%!important;
	margin-top:100px;
}

footer p {
	padding-top:15px;
	padding-left:auto;
	padding-right: auto;
	margin:auto;
	font-weight:bold;
	font-family: monospace;
}

footer a:link {
	text-decoration: none;
	color:#2980b9!important;
}

/*footer a {
	color:#fff;
}
*/
footer a:hover {
	color:#fff!important;
}